@model HotelProject.WebUI.Models.Role.UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden"asp-for="RoleId" />
    <label>Rol Ad</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <br />
    <button class="btn mb-1 btn-rounded btn-outline-success">Rolü Güncelle</button>
</form>