@model UpdateGuestDTO

@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ID" />
    <label>Oda Numarası</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>Oda Başlığı</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <span asp-validation-for="Surname" class="text-danger"></span>
    <br />
    <label>Fiyat Bilgisi</label>
    <input type="text" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br />
    <button class="btn mb-1 btn-rounded btn-outline-primary">Müşteri Bilgilerini Güncelle</button>
</form>