@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

@await Component.InvokeAsync("_DashboardHeadPartial")

<div class="container-fluid mt-3">

    @await Component.InvokeAsync("_DashboardWidgetPartial")

    @await Component.InvokeAsync("_DashboardLastFourStaffList")

    @await Component.InvokeAsync("_DashboardLastSixBookings")

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">

            <div class="card">
                <div class="chart-wrapper mb-4">
                    <div class="px-4 pt-4 d-flex justify-content-between">
                        <div>
                            <h4>Sales Activities</h4>
                            <p>Last 6 Month</p>
                        </div>
                        <div>
                            <span><i class="fa fa-caret-up text-success"></i></span>
                            <h4 class="d-inline-block text-success">720</h4>
                            <p class=" text-danger">+120.5(5.0%)</p>
                        </div>
                    </div>
                    <div>
                        <canvas id="chart_widget_3"></canvas>
                    </div>
                </div>
                <div class="card-body border-top pt-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li>5% Negative Feedback</li>
                                <li>95% Positive Feedback</li>
                            </ul>
                            <div>
                                <h5>Customer Feedback</h5>
                                <h3>385749</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="chart_widget_3_1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Activity</h4>
                    <div id="activity">
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/1.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Received New Order</h5>
                                <p class="mb-0">I shared this on my fb wall a few months back,</p>
                            </div><span class="text-muted ">April 24, 2018</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/2.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>iPhone develered</h5>
                                <p class="mb-0">I shared this on my fb wall a few months back,</p>
                            </div><span class="text-muted ">April 24, 2018</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/2.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>3 Order Pending</h5>
                                <p class="mb-0">I shared this on my fb wall a few months back,</p>
                            </div><span class="text-muted ">April 24, 2018</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/2.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Join new Manager</h5>
                                <p class="mb-0">I shared this on my fb wall a few months back,</p>
                            </div><span class="text-muted ">April 24, 2018</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/2.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Branch open 5 min Late</h5>
                                <p class="mb-0">I shared this on my fb wall a few months back,</p>
                            </div><span class="text-muted ">April 24, 2018</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/2.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>New support ticket received</h5>
                                <p class="mb-0">I shared this on my fb wall a few months back,</p>
                            </div><span class="text-muted ">April 24, 2018</span>
                        </div>
                        <div class="media pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/3.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Facebook Post 30 Comments</h5>
                                <p class="mb-0">I shared this on my fb wall a few months back,</p>
                            </div><span class="text-muted ">April 24, 2018</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-sm-12 col-xxl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Store Location</h4>
                    <div id="world-map" style="height: 470px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="social-graph-wrapper widget-facebook">
                    <span class="s-icon"><i class="fa fa-facebook"></i></span>
                </div>
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">89k</h4>
                            <p class="m-0">Friends</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">119k</h4>
                            <p class="m-0">Followers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="social-graph-wrapper widget-linkedin">
                    <span class="s-icon"><i class="fa fa-linkedin"></i></span>
                </div>
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">89k</h4>
                            <p class="m-0">Friends</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">119k</h4>
                            <p class="m-0">Followers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="social-graph-wrapper widget-googleplus">
                    <span class="s-icon"><i class="fa fa-google-plus"></i></span>
                </div>
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">89k</h4>
                            <p class="m-0">Friends</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">119k</h4>
                            <p class="m-0">Followers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="social-graph-wrapper widget-twitter">
                    <span class="s-icon"><i class="fa fa-twitter"></i></span>
                </div>
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">89k</h4>
                            <p class="m-0">Friends</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">119k</h4>
                            <p class="m-0">Followers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/ container -->
<script src="~/adminweb/plugins/common/common.min.js"></script>
<script src="~/adminweb/js/custom.min.js"></script>
<script src="~/adminweb/js/settings.js"></script>
<script src="~/adminweb/js/gleek.js"></script>
<script src="~/adminweb/js/styleSwitcher.js"></script>

<!-- Chartjs -->
<script src="~/adminweb/plugins/chart.js/Chart.bundle.min.js"></script>
<!-- Circle progress -->
<script src="~/adminweb/plugins/circle-progress/circle-progress.min.js"></script>
<!-- Datamap -->
<script src="~/adminweb/plugins/d3v3/index.js"></script>
<script src="~/adminweb/plugins/topojson/topojson.min.js"></script>
<script src="~/adminweb/plugins/datamaps/datamaps.world.min.js"></script>
<!-- Morrisjs -->
<script src="~/adminweb/plugins/raphael/raphael.min.js"></script>
<script src="~/adminweb/plugins/morris/morris.min.js"></script>
<!-- Pignose Calender -->
<script src="~/adminweb/plugins/moment/moment.min.js"></script>
<script src="~/adminweb/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
<!-- ChartistJS -->
<script src="~/adminweb/plugins/chartist/js/chartist.min.js"></script>
<script src="~/adminweb/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



<script src="~/adminweb/js/dashboard/dashboard-1.js"></script>
